#layerDemoauto{
    overflow-x: hidden;
    overflow-y: hidden;
}
iframe,#iframe-demo {
    width: 100%;
    height: 100%;
}

#iframe-demo{
    width: 550px;
    height: 500px;
    background: #fff;
    position: fixed;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    z-index:999;
}
.center-btn{
    text-align: center;
    margin-top:20px;
}
.layui-btn-normal{
    vertical-align: top;
}
.layui-form-label{
    width: 100px;
    font-weight: 400;
    text-align: right;
    padding: 9px 0;
}
.layui-form-item{
    margin-bottom:0;
}
.layui-upload-img {
    width: 92px;
    height: 92px;
    margin: 0 10px 10px 0;
}
.view{
    background-size: 100% 100% !important;
}

/*确定上传按钮样式*/
#btn_ImgUpStart {
    width: 130px;
    height: 40px;
    margin-top: 30px;
}

#mapContainer {
    width: 500px;
    height: 400px;
    margin:0 auto;
    margin-top:20px;
    position: relative;
}

#tip {
    min-height: 65px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 2px;
    border-radius: 3px;
    overflow: hidden;
    line-height: 20px;
    min-width: 200px;
}

#tip input[type="button"] {
    background-color: #0D9BF2;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
    border: 0;
    cursor: pointer;
}

#tip input[type="text"] {
    height: 25px;
    border: 1px solid #ccc;
    padding-left: 5px;
    border-radius: 3px;
    outline: none;
}
#result1 {
    max-height: 300px;
}

.span{
    color: #FF5722;
}
li{
    list-style: none;
}
img{
    border:none;display: block
}
.box{
    width: 1024px;margin: 50px auto;
}
.imgFileUploade{
    width: 100%;padding: 10px;
}
.imgFileUploade .header{
    height: 50px;width: 100%;line-height:50px;
}
.imgFileUploade .header span{
    display: block;float:left;
}
.imgFileUploade .header span.imgTitle{
    line-height:50px;
}
.imgFileUploade .header span.imgTitle b{
    color:red;margin:0 5px;line-height: 57px;display: block;float: right;font-size: 20px;
}
.imgFileUploade .header span.imgClick{
    width: 50px;height: 50px;margin-left: 10px;cursor: pointer;
    background: url('/statics/img/addUpload.png') no-repeat center center;background-size:cover;
}
.imgFileUploade .header span.imgcontent{
    color:#999;margin-left:120px;line-height: 50px;
}
.imgFileUploade .imgAll{
    width: 100%;    margin-top: 5px;
}
.imgFileUploade .imgAll ul:after{
        visibility: hidden;  display: block; font-size: 0; content: ".";  clear: both; height: 0
}
.imgFileUploade .imgAll li{
    width: 100px;height: 100px;border:solid 1px #ccc;margin:8px 5px;float: left;position: relative;box-shadow: 0 0 10px #eee;
}
.imgFileUploade .imgAll li img{
    position: absolute;top:0;left:0;width: 100%;height: 100%;display: block;
}
.delImg{
    position: absolute;top:-10px;right:-7px;width: 22px;height: 22px;background: #000;border-radius: 50%;display: block;text-align:  center;line-height: 22px;color:#fff;font-weight: 700;font-style:normal;cursor: pointer;
}
.box,.box2,.box3,.box4{
    border:solid 1px #ccc;
}

/*店铺上传*/
.phone-max-box{
    width:750px;
    height:450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
     background-color:#FFFFFF;
     padding:1px;
     border-radius:4px;
     position:relative;
}
.close-btn{
    position:absolute;
    top: -28px;
    right: -20px;
    cursor:pointer;
}

.form-active{
    cursor: text !important;
    box-shadow: none !important;
    border: none;
    background: transparent !important;
}
.box2-none{
    border:none;
}
/*商户进件*/
.form-more{
    width:27%;
    display:inline-block;
}
.minWidth{
    min-width:584px;
}
.mgtop{
    margin-top:5px!important;

}
.mgtop span{
    color:red!important;
}
#gbox_commercialName{
    margin-left:15px;
}
#commercialNamePager_left,#categoryPager_left{
    width:0!important;
}
.popWidth{
    width:115px;
}
.close-btn-position{
    top:-79px;
}
