<!DOCTYPE html>
<html>
<head>
    <title>商品标签管理</title>
    <#include "/header.html">
</head>
<body>

<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("operation:merchantproductcustomerlabel:list")>
            <div class="form-group col-sm-3" style="padding-left:0;width:18%">
                <input type="text"  class="form-control" v-model="q.search" @keyup.enter="query" placeholder="商户名、商品标签名">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="search"><i class="fa fa-search"></i>&nbsp;通用标签搜索</a>
        </#if>
            <#if shiro.hasPermission("operation:merchantproductcustomerlabel:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增通用标签</a>
        </#if>
        <#if shiro.hasPermission("operation:merchantproductcustomerlabel:update")>
        <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
    </#if>
    <#if shiro.hasPermission("operation:merchantproductcustomerlabel:delete")>
    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
</#if>
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">标签名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="tMerchantProductCustomerLabel.labelName" placeholder="标签名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input id="labelSaveOrUpdate" type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/operation/goods_label.js?_${.now?long}"></script>

</body>
</html>