<!DOCTYPE html>
<html>
<head>
    <title>商品审核</title>
		<#include "/header.html">
   <!-- <style>
		.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td{

			text-overflow:ellipsis!important;

		}
	</style>-->
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <#if shiro.hasPermission("operation:goods:list")>
            <div class="grid-btn">
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="goods.goodsName" @keyup.enter="query" placeholder="商品名">
                </div>
                <a class="btn btn-default" @click="query">查询</a>
            </div>
        </#if>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/operation/goods.js?_${.now?long}"></script>
</body>
</html>