<!DOCTYPE html>
<html>
<head>
    <title>商品信息</title>
		<#include "/header.html">
    <style type="text/css">
        /*table tbody tr td img{*/
            /*cursor: pointer;*/
            /*transition: all 0.6s;*/
            /*position: absolute;*/
        /*}*/
        /*table tbody tr td img:hover{*/
            /*transform: scale(3.5);*/
        /*}*/
        #img{
            height: 100px;
            width: 100px;
            cursor: pointer;
            transition: all 0.3s;
            float: left;
            margin-top: -800px;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("operation:goods:list")>
            <div class="form-group col-sm-3" style="padding-left:0;width:18%">
                <input type="text"  class="form-control" v-model="q.search" @keyup.enter="query" placeholder="商户名、商品名称">
            </div>
            <!--<div class="form-group col-sm-3" style="padding-left:0;width:18%">
                <input type="text"  class="form-control" v-model="goods.number" @keyup.enter="query" placeholder="编号">
            </div>-->
            <div class="form-group col-sm-2" style="padding-left:0;width:12%">
                <select name="status" v-model="q.status"  class="form-control" placeholder="状态选择"  id="status" >
                    <option value="0" selected="selected">--状态选择--</option>
                    <option value="5">正常使用</option>
                    <option value="6">暂停销售</option>
                    <option value="7">售罄</option>
                    <option value="8">删除</option>
                </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
        </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.merchantId" placeholder="商户ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.goodsName" placeholder="商品名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品详细</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.details" placeholder="商品详细"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">成本价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.originalPrice" placeholder="成本价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">市场价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.marketPrice" placeholder="市场价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">折后价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.discountPrice" placeholder="折后价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品总库存</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.total" placeholder="商品总库存"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品总销量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.sales" placeholder="商品总销量"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">月销量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.monthSales" placeholder="月销量"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">审核状态：1:创建审核中 2:审核不通过 3:修改审核中 4:修改不通过 5:正常使用 6：暂停销售  7：售罄 8:删除</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.status" placeholder="审核状态：1:创建审核中 2:审核不通过 3:修改审核中 4:修改不通过 5:正常使用 6：暂停销售  7：售罄 8:删除"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品图片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.pictures" placeholder="商品图片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品促销   1为促销   0为不促销</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.isPromotion" placeholder="商品促销   1为促销   0为不促销"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">促销价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.promotionalPrice" placeholder="促销价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">剩余库存</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.surplusInventory" placeholder="剩余库存"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">限购数量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.quantityPurchased" placeholder="限购数量"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开始时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.startTime" placeholder="开始时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">结束时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.endTime" placeholder="结束时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.remark" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品标签Id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.labelId" placeholder="商品标签Id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.isRecommend" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.thumbsUp" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="goods.updateTime" placeholder=""/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input id="goodsSaveOrUpdate" type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
<img src="#" id="img"/>
</div>

<script src="${request.contextPath}/statics/js/modules/operation/goods.js?_${.now?long}"></script>
</body>
</html>