<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("operation:tvyicoojinjian:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("operation:tvyicoojinjian:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("operation:tvyicoojinjian:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.name" placeholder="商户名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户简称（4-15字）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.shortname" placeholder="商户简称（4-15字）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户真实姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.realname" placeholder="商户真实姓名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系人手机号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.mobile" placeholder="联系人手机号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">身份证号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.idNo" placeholder="身份证号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">省</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.gbProvinceNo" placeholder="省"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">市</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.gbCityNo" placeholder="市"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">区</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.gbDistrictNo" placeholder="区"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">经营地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.address" placeholder="经营地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系邮箱</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.email" placeholder="联系邮箱"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">经营类别</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.category" placeholder="经营类别"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">营业执照类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.licenseType" placeholder="营业执照类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">营业执照编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.licenseNo" placeholder="营业执照编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">营业执照地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.licenseAddress" placeholder="营业执照地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">注册号开始日期 （例：2017-12-01）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.licenseStartDate" placeholder="注册号开始日期 （例：2017-12-01）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">注册号结束日期 （例：2029-12-01 永久为-1）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.licenseEndDate" placeholder="注册号结束日期 （例：2029-12-01 永久为-1）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户支行ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.bankId" placeholder="开户支行ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户支行所在城市编码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.accountCity" placeholder="开户支行所在城市编码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户支行行号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.bankNo" placeholder="开户支行行号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">帐户类型 0：对私 1：对公</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.accountType" placeholder="帐户类型 0：对私 1：对公"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">开户名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.accountName" placeholder="开户名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">银行预留手机号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.accountMobile" placeholder="银行预留手机号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">有无公众号 1：有公众号 2：无公众号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.selfAppid" placeholder="有无公众号 1：有公众号 2：无公众号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">有公众号必填（公众号主体需同营业执照名称一致）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.wxAppid" placeholder="有公众号必填（公众号主体需同营业执照名称一致）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户微信号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.wechatId" placeholder="商户微信号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">法人银行卡号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.bankcardNo" placeholder="法人银行卡号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">营业执照照片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.licensePic" placeholder="营业执照照片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">法人身份证正面照片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.idFrontPic" placeholder="法人身份证正面照片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">法人身份证反面照片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.idBackPic" placeholder="法人身份证反面照片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">对私：法人结算银行卡照片 对公：开户许可证</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.bankcardPic" placeholder="对私：法人结算银行卡照片 对公：开户许可证"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">店铺门头照片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.shopPic" placeholder="店铺门头照片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">经营场所内照片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.extraPic1" placeholder="经营场所内照片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收银台招牌照片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.extraPic2" placeholder="收银台招牌照片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">支付方式配置json串</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.payment" placeholder="支付方式配置json串"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">返回结果状态。0：成功</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.status" placeholder="返回结果状态。0：成功"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">返回信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.msg" placeholder="返回信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tVyicooJinjian.merchantId" placeholder="商户id"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/operation/tvyicoojinjian.js?_${.now?long}"></script>
</body>
</html>