<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/plugins/cover/css/ycbootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/plugins/cover/css/reset.css"/>
    <link rel="stylesheet" href="${request.contextPath}/statics/css/merchant.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">

</head>
<style>

</style>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("operation:merchant:list")>
                <div class="form-group col-sm-3" style="padding-left:0;width:18%">
                    <input type="text"  class="form-control" v-model="q.name" @keyup.enter="query" placeholder="商户名称、真实姓名、手机号">
                </div>

                <a class="btn btn-default" @click="query">查询</a>
            </#if>
			<#if shiro.hasPermission("operation:tvyicoojinjian:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("operation:tvyicoojinjian:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("operation:tvyicoojinjian:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>

        <!--↓↓↓商户名字查询弹出框 d↓↓↓-->
        <div class="modal modal.fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  style="z-index: 1041">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">系统商户名字查询</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-2">商户名称</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" v-model="q.tWBUserName" id="qTWBUserNameSearch" @keyup.enter="commercialNameReload()" placeholder="请输入用户真实姓名"/>
                        </div>
                        <button type="button" class="btn btn-default" id="commercialNameReload">查询</button>
                    </div>
                    <!--显示弹窗table-->
                    <div class="form-group">
                        <table id="commercialName"></table>
                        <div id="commercialNamePager"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="window-close-button">确定</button>
                    </div>

                </div>
            </div>
        </div>
        <!--↑↑↑商户名字查询弹出框 d↑↑↑-->

        <!--↓↓↓经营类别弹出框 d↓↓↓-->
        <div class="modal modal.fade" id="bCategory" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel"  style="z-index: 1041">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">经营类别查询</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-2 mgtop popWidth">经营类别名称</div>
                        <div class="col-sm-4">
                            <input type="text" id="bCategoryVal" class="form-control" v-model="q.category" @keyup.enter="bCategoryReload()" placeholder="请输入经营类别名称"/>
                        </div>
                        <button type="button" class="btn btn-default" id="bCategoryReload">查询</button>
                    </div>
                    <!--显示经营类别弹窗table-->
                    <div class="form-group">
                        <table id="category"></table>
                        <div id="categoryPager"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="category-window-close-button" >确定</button>
                    </div>
                </div>
            </div>
        </div>

        <form class="form-horizontal col-sm-12">

            <div class="form-group">
                <div class="col-sm-2 control-label">系统商户</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="username" placeholder="本公司系统的商户" id="userName" data-toggle="modal" data-target="#myModal" readonly="readonly" style="cursor:pointer;"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">商户类型</div>
                <div class="col-sm-4">
                    <label class="radio-inline radio-inline-hide">
                        <input type="radio" name="status1" value="5" v-model="tVyicooJinjian.status1"/> 企业
                    </label>
                    <label class="radio-inline radio-inline-show">
                        <input type="radio" name="status1" v-model="tVyicooJinjian.status1"/> 个体工商户
                    </label>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">商户名称</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.name" placeholder="商户名称" id="shopName" @blur="checkName"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgName}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">商户简称</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.shortname" placeholder="商户简称（4-15字）" id="shortName" @blur="checkShortName"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgShortName}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">商户真实姓名</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.realname" placeholder="商户真实姓名" id="realName" @blur="checkRealName"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgRealName}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">联系人手机号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.mobile" placeholder="联系人手机号" id="Mobile" @blur="checkTelPhone"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgTelPhone}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">身份证号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.idNo" placeholder="身份证号" id="idCard" @blur="checkIdCard"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgIdCard}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">省</div>
                <div class="col-sm-4 minWidth">
                    <select name="province"  v-model="tVyicooJinjian.province"  class=" form-control form-more" id="province" ></select>
                    &nbsp;市&nbsp;
                    <select name="city" v-model="tVyicooJinjian.city"  class="form-control form-more" id="city" ></select>
                    &nbsp;区&nbsp;
                    <select name="area"  v-model="tVyicooJinjian.area"  class="form-control form-more"  id="area" ></select>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">经营地址</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.address" placeholder="经营地址"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">联系邮箱</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.email" placeholder="联系邮箱" id="Email" @blur="checkEmail"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgEmail}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">经营类别</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.category" placeholder="经营类别" id="" data-toggle="modal" data-target="#bCategory" readonly="readonly" style="cursor:pointer;"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">营业执照类型</div>
                <div class="col-sm-4">
                    <!--<input type="text" class="form-control" v-model="tVyicooJinjian.licenseType" placeholder="营业执照类型"/>-->
                    <select name="licenseType" v-model="tVyicooJinjian.licenseType"  class="form-control" >
                        <option value="0" selected="selected">--请选择--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">营业执照编号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.licenseNo" placeholder="营业执照编号" id="LicenseNo"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">营业执照地址</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.licenseAddress" placeholder="营业执照地址"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">注册号开始日期</div>
                <div class="col-sm-4">
                    <!--<input type="text" class="form-control" v-model="tVyicooJinjian.licenseStartDate" placeholder="注册号开始日期 （例：2017-12-01）"/>-->
                    <input type="text" id="tVyicooJinjian-beginTime" class="form-control" placeholder="2017-12-01" >
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">注册号结束日期</div>
                <div class="col-sm-4">
                    <!--<input type="text" class="form-control" v-model="tVyicooJinjian.licenseEndDate" placeholder="注册号结束日期 （例：2029-12-01 永久为-1）"/>-->
                    <input type="text" id="tVyicooJinjian-endTime" class="form-control" placeholder="（例：2029-12-01）" >
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">开户支行ID</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.bankId" placeholder="开户支行ID"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">开户支行所在城市编码</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.accountCity" placeholder="开户支行所在城市编码"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">开户支行行号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.bankNo" placeholder="开户支行行号" id="BankNo" @blur="checkBankNo"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgBankNo}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">帐户类型</div>
                <div class="col-sm-4">
                    <label class="radio-inline radio-inline-hide">
                        <input type="radio" name="status2" value="2" v-model="tVyicooJinjian.status2"/> 对私
                    </label>
                    <label class="radio-inline radio-inline-show">
                        <input type="radio" name="status2" v-model="tVyicooJinjian.status2"/> 对公
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">开户名称</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.accountName" placeholder="开户名称"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">银行预留手机号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.accountMobile" placeholder="银行预留手机号" id="AccountMobile" @blur="checkAccountMobile"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgAccountMobile}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">有无公众号</div>
                <div class="col-sm-4">
                    <label class="radio-inline radio-inline-hide">
                        <input type="radio" name="status" value="3" v-model="tVyicooJinjian.status"/> 有公众号
                    </label>
                    <label class="radio-inline radio-inline-show">
                        <input type="radio" name="status" v-model="tVyicooJinjian.status"/> 无公众号
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.wxAppid" placeholder="有公众号必填（公众号主体需同营业执照名称一致）" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">商户微信号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.wechatId" placeholder="商户微信号"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">法人银行卡号</div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" v-model="tVyicooJinjian.bankcardNo" placeholder="法人银行卡号" @blur="checkBankcardNo" id="BankcardNo"/>
                </div>
                <div class="col-sm-2 mgtop">
                    <span>{{msgBankCardNo}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">营业执照照片<span class="span"> *</span></div>
                <div class="col-sm-10">
                    <div class="yc-upload-wrap">
                        <div class="yc-upload-box">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">

                                        <div class="ycupload-mainbox">
                                            <div class="ycupload-line"></div>

                                            <div  style="min-height:1px;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                                            <div style="min-height:1px;line-height:160px;text-align:center;position:relative;" ontouchstart="">
                                                                <div class="cover-wrap cover" style="display:none;position:fixed;left:0;top:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.5);z-index: 10000000;text-align:center;">
                                                                    <div class="phone-max-box">
                                                                        <div id="clipArea" style="margin:10px;height: 370px;"></div>
                                                                        <div class="" style="height:56px;line-height:36px;text-align: center;padding-top:8px;">
                                                                            <button id="clipBtn" type="button" style="width:120px;height: 36px;border-radius: 4px;background-color:#ff8a00;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;outline: none;">保存封面</button>
                                                                        </div>
                                                                        <div class="close-btn"><img src="${request.contextPath}/statics/img/close.png" alt=""></div>
                                                                    </div>
                                                                </div>
                                                                <div id="view" class="view" style="width:214px;height:160.5px;" title="请上传 428*321 的封面图片"></div>
                                                                <div style="height:10px;"></div>
                                                                <div class="" style="width:214px;height:38px;border-radius: 2px;background-color:#009688;color: #FFFFFF;font-size: 14px;text-align:center;line-height:38px;outline:none;position:relative;">
                                                                    上传营业执照照片
                                                                    <input type="file" id="file_new" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div style="height:25px;"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">法人身份证正面照<span class="span"> *</span></div>
                <div class="col-sm-10">
                    <div class="yc-upload-wrap">
                        <div class="yc-upload-box">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">

                                        <div class="ycupload-mainbox">
                                            <div class="ycupload-line"></div>

                                            <div  style="min-height:1px;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                                            <div style="min-height:1px;line-height:160px;text-align:center;position:relative;" ontouchstart="">
                                                                <div class="cover-wrap1 cover" style="display:none;position:fixed;left:0;top:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.5);z-index: 10000000;text-align:center;">
                                                                    <div class="phone-max-box">
                                                                        <div id="clipArea1" style="margin:10px;height: 370px;"></div>
                                                                        <div class="" style="height:56px;line-height:36px;text-align: center;padding-top:8px;">
                                                                            <button id="clipBtn1" type="button" style="width:120px;height: 36px;border-radius: 4px;background-color:#ff8a00;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;outline: none;">保存封面</button>
                                                                        </div>
                                                                        <div class="close-btn"><img src="${request.contextPath}/statics/img/close.png" alt=""></div>
                                                                    </div>
                                                                </div>
                                                                <div id="view1" class="view" style="width:214px;height:160.5px;" title="请上传 428*321 的封面图片"></div>
                                                                <div style="height:10px;"></div>
                                                                <div class="" style="width:214px;height:38px;border-radius: 2px;background-color:#009688;color: #FFFFFF;font-size: 14px;text-align:center;line-height:38px;outline:none;position:relative;">
                                                                    上传法人身份证正面照
                                                                    <input type="file" id="file_new1" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div style="height:25px;"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">法人身份证背面<span class="span"> *</span></div>
                <div class="col-sm-10">
                    <div class="yc-upload-wrap">
                        <div class="yc-upload-box">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">

                                        <div class="ycupload-mainbox">
                                            <div class="ycupload-line"></div>

                                            <div  style="min-height:1px;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                                            <div style="min-height:1px;line-height:160px;text-align:center;position:relative;" ontouchstart="">
                                                                <div class="cover-wrap2 cover" style="display:none;position:fixed;left:0;top:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.5);z-index: 10000000;text-align:center;">
                                                                    <div class="phone-max-box">
                                                                        <div id="clipArea2" style="margin:10px;height: 370px;"></div>
                                                                        <div class="" style="height:56px;line-height:36px;text-align: center;padding-top:8px;">
                                                                            <button id="clipBtn2" type="button" style="width:120px;height: 36px;border-radius: 4px;background-color:#ff8a00;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;outline: none;">保存封面</button>
                                                                        </div>
                                                                        <div class="close-btn"><img src="${request.contextPath}/statics/img/close.png" alt=""></div>
                                                                    </div>
                                                                </div>
                                                                <div id="view2"  class="view" style="width:214px;height:160.5px;" title="请上传 240*151 的封面图片" style="background-image:url('../static/img/default.png')"></div>
                                                                <div style="height:10px;"></div>
                                                                <div class="" style="width:214px;height:38px;border-radius: 2px;background-color:#009688;color: #FFFFFF;font-size: 14px;text-align:center;line-height:38px;outline:none;position:relative;">
                                                                    上传法人身份证背面
                                                                    <input type="file" id="file_new2" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div style="height:25px;"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">结算银行卡照<span class="span"> *</span></div>
                <div class="col-sm-10">
                    <div class="yc-upload-wrap">
                        <div class="yc-upload-box">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">

                                        <div class="ycupload-mainbox">
                                            <div class="ycupload-line"></div>

                                            <div  style="min-height:1px;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                                            <div style="min-height:1px;line-height:160px;text-align:center;position:relative;" ontouchstart="">
                                                                <div class="cover-wrap3 cover" style="display:none;position:fixed;left:0;top:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.5);z-index: 10000000;text-align:center;">
                                                                    <div class="phone-max-box">
                                                                        <div id="clipArea3" style="margin:10px;height: 370px;"></div>
                                                                        <div class="" style="height:56px;line-height:36px;text-align: center;padding-top:8px;">
                                                                            <button id="clipBtn3" type="button" style="width:120px;height: 36px;border-radius: 4px;background-color:#ff8a00;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;outline: none;">保存封面</button>
                                                                        </div>
                                                                        <div class="close-btn"><img src="${request.contextPath}/statics/img/close.png" alt=""></div>
                                                                    </div>
                                                                </div>
                                                                <div id="view3"  class="view" style="width:214px;height:160.5px;" title="请上传 240*151 的封面图片" style="background-image:url('../static/img/default.png')"></div>
                                                                <div style="height:10px;"></div>

                                                                <div class="" style="width:214px;height:38px;border-radius: 2px;background-color:#009688;color: #FFFFFF;font-size: 14px;text-align:center;line-height:38px;position:relative; margin-bottom:10px">
                                                                    上传结算银行卡照
                                                                    <input type="file" id="file_new3" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
                                                                 </div>
                                                            </div>
                                                            <span style="color:#999">对私：法人结算银行卡照片&nbsp;&nbsp;&nbsp;对公：开户许可证</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div style="height:15px;"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">店铺门头照<span class="span"> *</span></div>
                <div class="col-sm-10">
                    <div class="yc-upload-wrap">
                        <div class="yc-upload-box">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">

                                        <div class="ycupload-mainbox">
                                            <div class="ycupload-line"></div>

                                            <div  style="min-height:1px;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                                            <div style="min-height:1px;line-height:160px;text-align:center;position:relative;" ontouchstart="">
                                                                <div class="cover-wrap4 cover" style="display:none;position:fixed;left:0;top:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.5);z-index: 10000000;text-align:center;">
                                                                    <div class="phone-max-box">
                                                                        <div id="clipArea4" style="margin:10px;height: 370px;"></div>
                                                                        <div class="" style="height:56px;line-height:36px;text-align: center;padding-top:8px;">
                                                                            <button id="clipBtn4" type="button" style="width:120px;height: 36px;border-radius: 4px;background-color:#ff8a00;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;outline: none;">保存封面</button>
                                                                        </div>
                                                                        <div class="close-btn"><img src="${request.contextPath}/statics/img/close.png" alt=""></div>
                                                                    </div>
                                                                </div>
                                                                <div id="view4"  class="view" style="width:214px;height:160.5px;" title="请上传 240*151 的封面图片" style="background-image:url('../static/img/default.png')"></div>
                                                                <div style="height:10px;"></div>
                                                                <div class="" style="width:214px;height:38px;border-radius: 2px;background-color:#009688;color: #FFFFFF;font-size: 14px;text-align:center;line-height:38px;outline:none;position:relative;">
                                                                    上传店铺门头照
                                                                    <input type="file" id="file_new4" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div style="height:25px;"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">经营场所内照<span class="span"> *</span></div>
                <div class="col-sm-10">
                    <div class="box2"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">收银台招牌照<span class="span"> *</span></div>
                <div class="col-sm-10">
                    <div class="yc-upload-wrap">
                        <div class="yc-upload-box">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">

                                        <div class="ycupload-mainbox">
                                            <div class="ycupload-line"></div>

                                            <div  style="min-height:1px;">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                                            <div style="min-height:1px;line-height:160px;text-align:center;position:relative;" ontouchstart="">
                                                                <div class="cover-wrap5 cover" style="display:none;position:fixed;left:0;top:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.5);z-index: 10000000;text-align:center;">
                                                                    <div class="phone-max-box">
                                                                        <div id="clipArea5" style="margin:10px;height: 370px;"></div>
                                                                        <div class="" style="height:56px;line-height:36px;text-align: center;padding-top:8px;">
                                                                            <button id="clipBtn5" type="button" style="width:120px;height: 36px;border-radius: 4px;background-color:#ff8a00;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;outline: none;">保存封面</button>
                                                                        </div>
                                                                        <div class="close-btn"><img src="${request.contextPath}/statics/img/close.png" alt=""></div>
                                                                    </div>
                                                                </div>
                                                                <div id="view5"  class="view" style="width:214px;height:160.5px;" title="请上传 240*151 的封面图片" style="background-image:url('../static/img/default.png')"></div>
                                                                <div style="height:10px;"></div>
                                                                <div class="" style="width:214px;height:38px;border-radius: 2px;background-color:#009688;color: #FFFFFF;font-size: 14px;text-align:center;line-height:38px;outline:none;position:relative;">
                                                                    上传收银台招牌照
                                                                    <input type="file" id="file_new5" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div style="height:25px;"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>


        </form>
    </div>
</div>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/cover/js/iscroll-zoom.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/cover/js/hammer.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/cover/js/lrz.all.bundle.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/cover/js/jquery.photoClip.min.js" charset="utf-8"></script>
<!--<script type="text/javascript" src="${request.contextPath}/statics/plugins/bootstrap-datetimepicker.min.js" charset="utf-8"></script>-->
<script src="${request.contextPath}/statics/plugins/layui/layui.all.js"></script>


<script src="${request.contextPath}/statics/js/modules/operation/tvyicoojinjian.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/js/modules/operation/tvyicoojinjian_photo.js?_${.now?long}"></script>
</body>
</html>