<!DOCTYPE html>
<html>
<head>
    <title>优惠卷管理</title>
		<#include "/header.html">
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/plugins/cover/css/reset.css"/>
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
    <script src="${request.contextPath}/statics/plugins/layui/layui.all.js"></script>
    <style>
		.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td{

			text-overflow:ellipsis!important;

		}
	</style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("operation:tWbCard:list")>
                <div class="form-group form-more-style">
                    <input type="text" id="startTime-endTime" class="form-control"  placeholder="选择时间段">
                </div>
                <div class="form-group form-more-style">
                    <input type="text" class="form-control" v-model="q.cardContent" @keyup.enter="query" placeholder="优惠劵名称">
                </div>
                <div class="form-group form-more-style">
                    <input type="text" class="form-control" v-model="q.merchantName" @keyup.enter="query" placeholder="商户名称">
                </div>
                <div class="form-group form-more-style">
                    <select name="creatorType" v-model="q.creatorType"  class="form-control" placeholder="发行方类型"  id="creatorType" >
                        <option value="-1" selected="selected">--发行方类型--</option>
                        <option value="1">平台</option>
                        <option value="2">商户</option>
                    </select>
                </div>
                <div class="form-group form-more-style">
                    <select name="type" v-model="q.type"  class="form-control" placeholder="卡券种类"  id="type" >
                        <option value="-1" selected="selected">--卡券种类--</option>
                        <option value="0">代金卷</option>
                        <option value="1">折扣券</option>
                        <option value="2">满减券</option>
                    </select>
                </div>
                <a class="btn btn-default" @click="query">查询</a>
            </#if>
			<#if shiro.hasPermission("operation:twbcard:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("operation:twbcard:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
            <#if shiro.hasPermission("operation:twbcard:start")>
            <a class="btn btn-primary" @click="start"><i class="fa fa-trash-o"></i>&nbsp;发放</a>
            </#if>
			<#if shiro.hasPermission("operation:twbcard:stop")>
            <a class="btn btn-primary" @click="stop"><i class="fa fa-trash-o"></i>&nbsp;停用</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">发行方类型</div>
                        <label class="radio-inline">
                            <input type="radio" name="id" value="1" v-model="tWbCard.creatorType"/> 平台
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="id" value="2" v-model="tWbCard.creatorType"/> 商户
                        </label>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">可使用开始时间</div>
                        <div class="col-sm-10">
                            <!--<input type="hidden" id="tWbCard-beginTime" v-model="tWbCard.beginTime"/><br/>-->
                            <input type="text" id="tWbCard-beginTime" class="form-control" placeholder="可使用开始时间">
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">卡券过期时间</div>
                        <div class="col-sm-10">
                            <!--<input type="hidden" id="tWbCard-endTime" v-model="tWbCard.endTime"/>-->
                            <input type="text" id="tWbCard-endTime" class="form-control" placeholder="卡券过期时间">
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">卡卷数量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.cardNum" placeholder="卡卷数量"/>
                        </div>
                    </div>
					 <div class="form-group">
                        <div class="col-sm-2 control-label">剩余卡券数量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.leftNum" placeholder="剩余卡券数量"/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">用户最多持有张数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.limitNum" placeholder="用户最多持有张数"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">卡券logo</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.logo" placeholder="卡券logo"/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">使用说明(如:全场通用;不可与打折商品一起使用)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.description" placeholder="使用说明(如:全场通用;不可与打折商品一起使用)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">发行方类型</div>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" v-model="tWbCard.status"/> 未删除
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="2" v-model="tWbCard.status"/> 已删除
                        </label>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">发行时间</div>
                        <div class="col-sm-10">
                            <!--<input type="text" class="form-control" v-model="tWbCard.createDate" placeholder="发行时间"/>-->
                            <input type="text" id="tWbCard-createDate" class="form-control" placeholder="发行时间"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">发行方类型</div>
                        <label class="radio-inline">
                            <input type="radio" name="type" value="0" v-model="tWbCard.type"/> 代金券
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="type" value="1" v-model="tWbCard.type"/> 折扣卷
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="type" value="2" v-model="tWbCard.type"/> 满减卷
                        </label>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">折扣(1至99的整数)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.discount" placeholder="折扣(1至99的整数)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">满足金额(满减券使用,满金额,满后所减金额用cardmoney保存)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.fullMoney" placeholder="满足金额(满减券使用,满金额,满后所减金额用cardmoney保存)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">卡券金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.cardMoney" placeholder="卡券金额"/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label">优惠券名称(如:满100减10;全场8折)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbCard.cardContent" placeholder="优惠券名称(如:满100减10;全场8折)"/>
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                            <input type="button" class="btn btn-primary" id="text1" @click="saveOrUpdate" value="确定"/>
                            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                    </div>
        </form>
    </div>
</div>


<script src="${request.contextPath}/statics/js/modules/operation/twbcard.js?_${.now?long}"></script>
</body>
</html>