<!DOCTYPE html>
<html>
<head>
    <title>订单管理</title>
		<#include "/header.html">
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/plugins/cover/css/reset.css"/>
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
    <script src="${request.contextPath}/statics/plugins/layui/layui.all.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("operation:twborder:list")>
                <div class="form-group form-more-style">
                    <!--<input type="date" class="form-control" name="startTime" v-model="q.startTime" />-->
                    <input type="text" id="startTime-endTime" class="form-control"  placeholder="选择时间段">
                </div>
                <div class="form-group form-more-style">
                    <input type="text" class="form-control" v-model="q.userName" @keyup.enter="query" placeholder="用户名称、用户电话号码">
                </div>
                <div class="form-group form-more-style">
                    <input type="text" name="merchantName" class="form-control" v-model="q.merchantName" placeholder="商户名称">
                </div>
                <div class="form-group form-more-style">
                    <input type="text" name="orderId" class="form-control" v-model="q.orderId" placeholder="订单号">
                </div>
                <a class="btn btn-primary" @click="query">查询</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">父订单id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.parentOrderId" placeholder="父订单id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.userName" placeholder="用户名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商家id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.merchantId" placeholder="商家id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单总价即原价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.totalAmount" placeholder="订单总价即原价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">实际给商家的结算价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.settleAccounts" placeholder="实际给商家的结算价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">实际支付价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.finalAmount" placeholder="实际支付价"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">判断最后支付金额是不是来自信用卡</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.finalAmountFrom" placeholder="判断最后支付金额是不是来自信用卡"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单状态 0:待支付 1:已支付 2:已完成</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.status" placeholder="订单状态 0:待支付 1:已支付 2:已完成"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">如果order_from值是微信那么这里是union_id;order_from值是支付宝那么这里是获取支付宝的唯一id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.unionId" placeholder="如果order_from值是微信那么这里是union_id;order_from值是支付宝那么这里是获取支付宝的唯一id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单来源(1.微信 2.支付宝)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.orderFrom" placeholder="订单来源(1.微信 2.支付宝)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单类型(1.扫码付2.商城)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.orderType" placeholder="订单类型(1.扫码付2.商城)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">下单时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.createTime" placeholder="下单时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">支付完成时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.payTime" placeholder="支付完成时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户删除</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.userDelete" placeholder="用户删除"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户删除</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.merchantDelete" placeholder="商户删除"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">银行通道类型；1=中信，2=汇付</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.channelId" placeholder="银行通道类型；1=中信，2=汇付"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">重要信息加密后存放于此，方便后面的验证订单数据完整性</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.encryptedData" placeholder="重要信息加密后存放于此，方便后面的验证订单数据完整性"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="tWbOrder.remark" placeholder="备注"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary"  id="text1" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/operation/twborder.js?_${.now?long}"></script>
</body>
</html>