<!DOCTYPE html>
<html>
<head>
    <title>免单管理</title>
		<#include "/header.html">
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/plugins/cover/css/reset.css"/>
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
    <script src="${request.contextPath}/statics/plugins/layui/layui.all.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="container-fluid">
            <#if shiro.hasPermission("operation:twborderFree:list")>
            <div class="form-inline">
                <div class="grid-btn">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="startTime-endTime" class="form-control"  placeholder="选择时间段、默认选择当天">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="q.userName" @keyup.enter="query" placeholder="用户名称、用户电话号码">
                        </div>
                        <div class="form-group">
                            <input type="text" name="merchantName" class="form-control" @keyup.enter="query" v-model="q.merchantName" placeholder="商户名称">
                        </div>
                        <div class="form-group">
                            <input type="text" name="orderId" class="form-control" @keyup.enter="query" v-model="q.orderId" placeholder="订单号">
                        </div>
                        <a class="btn btn-default" @click="query">查询</a>
                    </div>
                </div>
            </div>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/operation/wborder_free.js?_${.now?long}"></script>
</body>
</html>