<!DOCTYPE html>
<html>
<head>
<title>地区列表</title>
<#include "/header.html">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
	<script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
	<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
	<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
	<script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
	<script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/plugins/cover/css/ycbootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/plugins/cover/css/reset.css"/>
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
    <script src="${request.contextPath}/statics/js/echarts.js"></script>
	<style type="text/css">
		.span{
			color: #FF5722;
		}
	</style>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<select name="areaProvince" class="form-control" placeholder="省"  id="areaProvince" >
					<option value="0" selected="selected">请选择省</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<select name="areaCity" class="form-control" placeholder="市"  id="areaCity">
					<option value="-1" selected="selected">请选择市</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<select name="areaTown" class="form-control" placeholder="区"  id="areaTown">
					<option value="-1" selected="selected">请选择区</option>
				</select>
			</div>

			<#if shiro.hasPermission("sys:twbarea:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:twbarea:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:twbarea:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
			<table id="areaTable" data-mobile-responsive="true" data-click-to-select="true">
				<thead>
				<tr>
					<th data-field="selectItem" data-checkbox="true"></th>
				</tr>
				</thead>
			</table>
    </div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
			<!--<div class="form-group">-->
				<!--<div class="col-sm-2 control-label">地区编码</div>-->
				<!--<div class="col-sm-10">-->
					<!--<input type="text" class="form-control" v-model="twbarea.areaCode" placeholder="地区编码"/>-->
				<!--</div>-->
			<!--</div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">上级地区<span class="span"> *</span></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="twbarea.parentName" @click="twbareaTree" readonly="readonly" placeholder="地区选择"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">地区名称<span class="span"> *</span></div>
                <div class="col-sm-10">
					<input type="text" class="form-control" maxlength="50" v-model="twbarea.name" placeholder="地区名称"/>
                </div>
            </div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" id="text1" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>

		</form>
	</div>
</div>
<!-- 选择地区 -->
<div id="twbareaLayer"  style="display: none;padding:10px;">
	<ul id="twbareaTree" class="ztree"></ul>
</div>
<script src="${request.contextPath}/statics/js/modules/sys/area.js?_${.now?long}"></script>
</body>
</html>